.App {
  width: 80%;
  margin: auto;
  font-family: Arial;
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
}

.card input {
  padding: 10px;
  margin: 5px;
  width: 220px;
}

button {
  padding: 8px 14px;
  margin: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}